.diff {

    &__container {
            display: flex;
            justify-content:space-around;
            padding:60px 20px 100px 100px;
        & > div {
            width: 40%;
            & h3 {
                font-family: Sofia Pro;
                font-style: normal;
                font-weight: bold;
                font-size: 30px;
                line-height: 65px;
                letter-spacing: 0.03em;
                color: #FB5A1E; 
                white-space: nowrap;

            }
            & p {
                font-family: Sofia Pro;
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 190%;
                color: #504D4D;
                                
            }
            & img {
                position: absolute;
                height: 40%;
            }
            &:nth-of-type(1) img{
                left: 0px;                
            }
            &:nth-of-type(2) img{
                right: 0px;
            }
        }
    
    }
}
.divider {
    height: 270px;
}
@media only screen and (max-width:1220px){
    .diff__container {
        padding: 45px 0px 60px 45px;
    }
}
@media only screen and (max-width:1089px){
    .diff__container > div h3  {
        font-size: 26px;
    }
    .diff__container > div p  {
        font-size: 17px;
    }
}
@media only screen and (max-width:956px){
    .diff__container {
        padding: 30px 0px 60px 15px;
        
    }
    .divider {
        height: 300px;
    }
}
@media only screen and (max-width:900px){
    .divider {
        display: none;
    }
    .diff__container {
        padding-left: 0px;
    }
    .diff__container > div {
       width: 48%;
    }
    .diff__container > div h3  {
        font-size: 23px;
    }
    .diff__container > div p  {
        font-size: 17px;
    }
}
@media only screen and (max-width:823px){
    .diff__container {
        padding: 15px 0px 60px 0px;
        
    }
    .diff__container > div h3  {
        font-size: 20px;
    }
   
}
@media only screen and (max-width:768px){
    .diff__container {
        padding: 15px 0px 60px 60px;
        
    }
    .diff__container > div {
       
        width: 100%;
        
    }
    
}
@media only screen and (max-width:512px){
    .diff__container > div h3  {
        font-size: 19px;
    }
    .diff__container > div p  {
        font-size: 15px;
    }
    
}

@media only screen and (max-width: 425px){
    .diff__container {
        padding: 15px 0px 60px 30px;
    }
    .diff__container > div img {
        height: 27%;
    }
}
@media only screen and (max-width: 350px){
    .diff__container > div h3  {
        font-size: 17px;
    }
    .diff__container {
        padding: 15px 0px 60px 20px;
    }
}