.header{

    width: 100%;
    position: relative;

    &__container{
        height: 100vh;
        width: 100%;
        background:  linear-gradient(to right, rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../../assets/images/hero_img.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        position: relative;

        &--services{
            height: 70vh;
            background: linear-gradient(to right, rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../../assets/images/services-bg.png);
        }

        &--casestudy{
            height: 70vh;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0.74)), url(../../assets/images/work-bg.jpg);        
        }

        &--work{
            height: 60vh;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../assets/images/work-bg.jpg);        
            background-position: bottom right;
            background-size: cover;
            background-repeat: no-repeat;        
        }

        &--about{
            height: 61.5vh;
            background: linear-gradient(to right, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(../../assets/images/about.png);
            background-position: top center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        &--quote{
            height: 50vh;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../../assets/images/quote__bg.png);
        }

        &--contact{
            height: 60vh;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../assets/images/contact-bg.jpg);
            background-position: bottom right;
            background-size: cover;
            background-repeat: no-repeat;
        }

        /* &--portfolio{
            height: 6vh;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.68)), url(../../assets/images/portfolio-bg.jpg); */
            /* background-position: top right; */
            /* background: #0F0F0F; */
            /* background-size: cover; */
            /* background-repeat: no-repeat     */
        /* } */ 
        &--team{
            height: 70vh;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../assets/images/ourteambg.png);
            background-position: top right;
            background-size: cover;
            background-repeat: no-repeat;
        }
        &--who{
            height: 50vh;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../../assets/images/whobg.png);
            background-position: top right;
            background-size: cover;
            background-repeat: no-repeat;
        }
        &--solutions{
            height: 50vh;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../../assets/images/solutionsbg.png);
            background-position: top right;
            background-size: cover;
            background-repeat: no-repeat;
        }
        &--diff{
            height: 50vh;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../../assets/images/diffbg.png);
            background-position: top right;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    &__text-br{
        display: none;
    }

    &__break {
        display: none;
    }

    &__title{
        font-size: 1.8rem;
        color: #ffffff;
        font-weight: 700;
        font-family: 'Playfair Display', serif;
        font-style: italic;
        line-height: normal;
        margin: 0.2em 0;
        &--sub {
            font-family: 'Playfair Display';
            font-style: normal;
            font-weight: bold;
            font-size: 2.4rem;
            line-height: 50px;
            letter-spacing: -0.02em;
            color: #FFFFFF;            
        }

        &--services{
            font-family: 'Playfair Display', serif;
            text-align: center;
            margin: 0;
            font-size: 2.7rem;
        }

        &--em{
            font-family: 'Playfair Display', serif;
            font-style: italic;
            font-weight: 900;
        }
    }

    &__text{
        font-size: 1.3rem;
        color: #ffffff;
        font-family: 'Sofia Pro', serif;
        font-weight: 100;
        line-height: 28px;
        opacity: 0.8;

        &--services{
            text-align: center;
        }

        &__box{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 250px;
        }
       

        &-container{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .circle{
                display: block;
                height: 7px;
                width: 7px;
                background: #ffffff;
                border-radius: 50%;
                position: absolute;
                top: -3px;
                z-index: 2;
            }
        }
    }
    &__italics {
        font-style: italic;
    }
    &__map{
        position: absolute;
        right: 0%;
        height: 103%;
        top: 11%;
        display: none;
    }

    &__design{
        width: 6rem;
        vertical-align: bottom;
        
    }

    &__development{
        width: 12.8rem;
        vertical-align: bottom;
        transform: translateY(-11px);
    }

   

}

@media only screen and (min-width: 365px){
    .header__break{
        display: block;
    }
    .header__text-br{
        display: block;
    }
}

@media only screen and (min-width: 540px){
    .header__container--services{
        height: 75vh;
    }
    
}

@media only screen and (min-width: 600px){
    .header__design{
        width: 9.5rem;
        transform: translateY(-5.2px);
    }
    .header__development{
        width: 17rem;
        transform: translateY(-3px);
    }
    .header__text__img {
        width: 232px;
    }
}


@media only screen and (min-width: 600px){
    .header__title{
        font-size: 2.8rem;
    }
}

@media only screen and (min-width: 1020px){
    .header__map{
        display: block;
    }
}

@media only screen and (min-width: 920px){
    .header__text{
        line-height: 35px;
    }
}
@media only screen and (max-width: 1390px){
    .header__map{
        height: 90%;
    }
}
@media only screen and (max-width: 1290px){
    .header__map{
        height: 80%;
    }
}
@media only screen and (max-width: 1130px){
    .header__map{
        height: 70%;
    }
    ..header__container--contact {
        background-position: top top;
    }
}
@media only screen and (max-width: 425px){
    .header__title--sub{
        font-size: 1.8rem;
    }
    .header__text {
        font-size: 1.1rem;
    }
}
@media only screen and (max-width: 375px){
    .header__text{
        font-size: 1.0rem;
    }
    .header__development {
        width: 10.8rem;
    }
    .header__design {
        width: 5rem;
        transform: translateY(-14px);
    }
    .header__title--sub {
        font-size: 1.7rem;
    }
}

@media only screen and (max-height: 500px){
    .header__container{
        height: 500px;
    }
    
}